<template v-if="ready">
  <div id="app" class="main-container" v-scrollspy>
    <div class="m1 menu">
      <div class="menu-center">
        <ul>
          <li>
            <a class="active" href="#bitcoin">Bitcoin</a>
          </li>
          <li>
            <a href="#bitshares">BitShares</a>
          </li>
          <li>
            <a href="#zcoin">Zcoin</a>
          </li>
          <li>
            <a href="#credits">Credits</a>
          </li>
        </ul>
      </div>
      <div class="mobile-menu" id="mobile-menu">
        <select>
          <option value="bitcoin">Bitcoin</option>
          <option value="bitshares">BitShares</option>
          <option value="zcoin">Zcoin</option>
          <option value="credits">Credits</option>
        </select>
      </div>
    </div>
    <div id="bitcoin" class="section home">
      <h2>Bitcoin</h2>
      <p>
        Just like with email, you don't need to ask your family to use the same software or the same service providers. Just let them stick to their own favorites. No problem there; they are all compatible as they use the same open technology. The Bitcoin network never sleeps, even on holidays!
      </p>
    </div>
    <div id="bitshares" class="section bitshares">
      <h2>Bitshares</h2>
      <p>
        The developers of BitShares formed Cryptonomex to monetize the technology, experience, reputation and good will they accumulated during their first two years of development and operations. Much of that technology is embodied in Graphene™, an industrial strength software platform for deploying third generation cryptographically secure decentralized ledgers known as block chains.
      </p>
    </div>
    <div id="zcoin" class="section zcoin">
      <h2>Zcoin</h2>
      <p>
        With Zcoin, the anonymity set is on a dramatically higher magnitude. Instead of having an anonymity set limited to the few dozen, Zcoin has an anonymity set that encompasses all minted coins in a particular RSA accumulator that can scale to many thousands and unlike other solutions is not subject to transaction graph analysis.
      </p>
    </div>
    <div id="credits" class="section contact">
       <h2>Author</h2>
      <p>
        Hi, my name is Lukas Novak and I am frontend developer who created this example just for fun and to demonstrate how Vue.js is great.
      </p>
    </div>
  </div>
</template>

<script>

  import scrollspy from './directive/scrollspy';

  export default {
      directives: {
          scrollspy: scrollspy
      }
  }

</script>

<style lang="scss">
  body,
  html,
  .main-container {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    margin: 0 auto;
  }

  .menu {
    height: 86px;
    position: fixed;
    background-color: rgba(64, 65, 70, 0.6);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  .menu,
  .main-container {
    width: 100%;
    max-width: 1000px;
  }

  .light-menu {
    width: 100%;
    height: 75px;
    position: fixed;
    background-color: rgba(4, 180, 49, 0.6);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  .active {
    color: #fff;
  }

  .menu-center {
    display: none;
  }

  a {
    font-size: 2em;
    color: black;
    text-decoration: none;
    line-height: 1.5;
  }

  p {
    font-size: 1.5em;
    padding: 0 2em;
  }

  h2 {
    font-size: 2em;
  }

  .section {
    text-align: center;
    width: 90%;
  }

  .home,
  .bitshares,
  .zcoin,
  .contact {
    height: 100%;
    width: 100%;
    padding-top: 70px;
  }

  .home {
    background-color: #01FCC7;
    overflow: hidden;
  }

  .bitshares {
    background-color: #FC6677;
  }

  .zcoin {
    background-color: #04E7B9;
  }

  .contact {
    background-color: #69a7ff;
  }

  .mobile-menu {
    margin: 0.7em auto;
    text-align: center;
    select {
      width: 80%;
      height: 50px;
      font-size: 20px;
    }
  }

  @media screen and (min-width: 768px) {
    p {
      font-size: 2em;
      padding: 0 2em;
    }

    h2 {
      font-size: 3em;
    }

    .menu-center {
      display:block;
      width: 980px;
      height: 75px;
      margin: 0 auto;
      ul {
        margin: 15px 0 0 0;
        li {
          list-style: none;
          margin: 0 30px 0 0;
          display: inline;
        }
      }
    }

    .mobile-menu {
      display: none;
    }
  }

</style>
